@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s linear;
}

main {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: cyan;
}

.form {
    height: 530px;
    width: 350px;
    padding: 15px;
    background: #b7f0f0;
    border: 2px solid blue;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.formAction {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.success {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.success input {
    border: 2px solid greenyellow;
}

.error input {
    border: 2px solid red;
}

.error small {
    visibility: visible;
}

label {
    font-weight: 500;
}

input {
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

small {
    color: red;
    font-weight: 500;
    visibility: hidden;
}

.btn {
    height: 40px;
    width: 130px;
    background-color: #007bac;
    color: white;
    border: none;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 500;
}

.btn:hover {
    background-color: #00a9ec;
    color: black;
}


/* responsive part */

@media(max-width:360px) {
    .form {
        width: 310px;
    }
}
